.about {
	
	@include breakpoint(sm){ display: flex; }
	.right {
		
		@include breakpoint(sm){
			border-left: 1px solid #fff;
			padding: 0;
			padding-left: 30px;
		}
		@include breakpoint(xs){
			padding-top:15px;
		}
		
		
	}
	.right p {
		color: #fff;
	}
	.left {
		button {
			background:#fff;
			border:none;
			border-radius: 25px;
			font-family: 'Gotham-Medium';
			color: #2B9DA4;  align-self: flex-end;
			padding:10px 40px;
			&:focus{
				outline: none;
			}
		}
		@include breakpoint(sm){
			
		    padding-right: 30px;
		    display: flex;
		    justify-content: space-between;
		    flex-direction: column;
		    
		}
		@include breakpoint(xs){
			border-bottom: 1px solid #fff;
			text-align: center;
			padding-bottom:20px;
		}
	}
	.left h1 {
		 font-family: 'Gotham-bold';
		 color: #ffff;
	 
		 text-align: right;

		@include breakpoint(xs){
        	 text-align: center;
        	 font-size: 25px;
    		line-height: 30px;
      }
	}
}