
.footer {
	background:#46595B;
	padding: 35px 0;
	@include breakpoint(xs){ 
		padding:15px 0;
	}
	@include breakpoint(md){ 
	text-align:left;
	}
	@include breakpoint(xs-sm){ 
	// text-align:center;
	}

	p {
		color: #fff;
		text-align:center;
		font-family: 'Gotham-Book-Regular';
	}
	a {
		color: #fff;
		font-weight: bold;
	}
}


