.top-header {
   
    height: auto;
    @include breakpoint(md){ 
    	height: 140px;
    	display:block; 
    }
     @include breakpoint(sm){ 
     	display: block;
      
    	background: #fff; 
     }
      
       
}
@media (min-width: 769px) {
	.top-header {
		display:block;
	}
}
.header-spons {
	text-align:center;

	@include breakpoint(sm){ 
	   	display:block;
	   }
	   @include breakpoint(xs){ 
	   	display:block;
	   }

	ul {
		margin: 0;
	      @include breakpoint(xs){ 
	   	    display: block;
		    position: fixed;
		    top: 0;
		    left: 100px;
		    z-index: 9999999;
	   }
	   @include breakpoint(sm){ 
	   	    display: block;
		    position: fixed;
		    top: 0;
		    left: 91px;
		    z-index: 9999999;
	   }
	    @include breakpoint(md){ 
	    	position:relative;
	    	top: 0;
    		left: 0;
    		padding-left: 23px;
    		height: 120px;
	    }
	    @include breakpoint(lg){ 
	    	padding-left: 50px;
	    }
	}

	li{
		text-align: center;
	    height: 100%;list-style: none;
	    @include breakpoint(md){ 
	    	
	    	background: #fff;
	    	transform: skew(-32deg); 
	    }
	    @include breakpoint(xs){ 
	    	background:none;
	    	transform: none;
	    }
	    @include breakpoint(sm){ 
	    	background:none;
	    	transform: none;
	    }
	}
	img {
		transform: skew(32deg);
		//max-height: 95px;
		@include breakpoint(xs){ 
			max-height: 71px;
			transform: none;

		}
		@include breakpoint(sm){ 
			max-height: 80px;
			transform: none;

		}
		@include breakpoint(md){ 
			max-height: 85px;
			transform: skew(32deg);

		}
		@include breakpoint(lg){ 
			max-height: 95px;
			transform: skew(32deg);

		}
	}
}
.top-logo {
	display:inline-block;
	float: left;
	//margin-top: 11px;
	@include breakpoint(md){ 
		padding-top: 34px;
	}
	@include breakpoint(xs){ 
		padding: 20px 0px;

	} 
}
.logo-text {
    display: inline-block;
    margin-left: 15px;    float: left;
    .bold-text {
	    font-family: 'serpntbi';
	    color: #e4002a;    

	   text-transform: uppercase;
	     @include breakpoint(lg){ 
	     	 font-size: 32px;
	     	 margin-top: 35px;
    	}
	     @include breakpoint(md){ 
	     	 font-size: 28px;
	     	 margin-top: 35px;
    	}
    	@include breakpoint(sm){ 
	     	 font-size: 25px;
	     	 margin-top: 35px;
    	}
	}
	 .small-text {
		    font-family: 'serpntbi';
		    color: #fff;margin-top: 10px;
		    text-transform: uppercase; 
		    @include breakpoint(lg){ 
		     	 font-size: 25px;
	    	}
		     @include breakpoint(md){ 
		     	 font-size: 22px;
	    	}
		     @include breakpoint(sm){ 
		     	 font-size: 22px;
	    	}
		}
}
.sub-logos {
    padding-top: 8px;    display: inline-block;
    .header_right_logos, .header-text {
    	padding:0;
    }
    strong {
    	font-family:'Anton';
    	color:$theme_color;
    	font-weight: 100;
    	
    	@include breakpoint(md){ 
      		font-size: 16px;
      	} 
      	@include breakpoint(sm){ 
      		font-size: 14px;
      	} 
    }
    p {
    	@include breakpoint(md){ 
      		font-size: 13px;line-height:18px;
      	}
      	@include breakpoint(sm){ 
      		font-size: 12px;
      		line-height:15px;
      	}
    	padding-left: 12px;
    }
}
.top-club-logos {
    padding: 0;
    border-bottom: 2px solid #ccc;
     @include breakpoint(xs){
     	display:none;
     }
}
.top_logos {
	margin-bottom: 0;
	padding: 0;

	li {
			&:first-child {
			padding-left:0;
		}
		 @include breakpoint(lg){
		 	padding: 6px 28px;
		 }
		 @include breakpoint(sm){
		 	padding: 6px 16px;
		 }
			list-style: none;
			display: inline-block;
	}
	span {
	    text-transform: uppercase;
	    color: #000;
	    font-size: 12px;
	    font-weight: 500;
	}
}
#nav-container {
  //  position: fixed;
    width: 100%;
   // height: 50px;
   // background: #fff;
    z-index: 1000;
    float: none;
     @include breakpoint(md){
     	display:block;
     	height:auto;
     	float: none;
     }
     @include breakpoint(sm){
     
     	float: none;display:none;
     	height:auto;
     }

     @include breakpoint(xs){
     	border-bottom: 1px solid #fff;
     	// height:0;
     	float: none;
     }
    .top-logo {

    	img {
    		 @include breakpoint(xs){
    		 	max-width: 55%;
    			padding: 10px;
    			height:auto;
    			display:none;
    		 }
    		  @include breakpoint(sm){
    		 	display:none;
    		 }
    		  @include breakpoint(md){
    		 	max-width: 80%;
    			padding: 10px;
    			height:auto;
    			display:block;
    		 }
    		  @include breakpoint(lg){
    		  	max-width: 100%;
    		  }
    	}
    	position:absolute;
    	top:5px;
	    left: 0;
	    z-index: 1010;
	    -webkit-transition: all .3s;
	    -moz-transition: all .3s;
	    -o-transition: all .3s;
	    transition: all .3s;
	    	@include breakpoint(md){
        	    
			top: 60px;
      }

      @include breakpoint(lg){
       
	    top: 25px;
      }
     
    }
   
}

.cbp-af-header-shrink .sb-search {
	top: 0%;    
	right: 12%;
	background:none;
	@include breakpoint(xs){
            top: 14%;
            right: 22%;
    }
    @include breakpoint(sm){
            top: 14%;
            right: 25%;
    }
     @include breakpoint(lg){
            top: 0%;
            right: 13%;
    }
}
.cbp-af-header-shrink .container {
	width:100%;
	padding:0;
	 @include breakpoint(xs){
	 	width:100%;
		padding:0;
	 }

}


form#searchform {
    position: relative;
    width: 100%;
}
.search-box {
    float: right;
   // margin-top: -35px;
  //  padding-right: 38px;
    display:none;
    @include breakpoint(xs){ 
     	display:block;
     }
     @include breakpoint(sm){ 
     	display:block;
     }
     @include breakpoint(md){ 
     	display:block;
     }

    input[type="text"] {
    	    color: #000;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		   // font-family: 'Rajdhani', sans-serif;
		   // font-weight: 700;
		    letter-spacing: -1px;
		    width: 100%;
		    display: inline-block;
		   // text-transform: uppercase;
		    height: 55px;
		    line-height: 49px;
		    font-size: 15px;
		    padding-left: 10px;
		    padding-right: 74px;
		    //border: 1px solid #fed33d;
		    background: #fff;
		    border-radius:5px;
		    border:none;
		    outline:none;
    }
	  #searchsubmit {
	    font-family: "webfont";
	    font-style: normal;
	    font-weight: normal;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    //color: #00549c;
	    font-size: 17px;
	    float: right;
	    border: none;
	    margin: 0;
	    line-height: 36px;
	    width: 40px;
	    position: absolute;
	    right: 10px;
	    
	    height: 40px;
	    background: $theme_color;
	    display: inline-block;
	    /* box-shadow: inset 0 0 30px #D85119; */
	    /* text-transform: uppercase; */
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    top: 7px; 
	    border-radius: 5px;
    	color: #fff;
	  //float: left;
	}

}
#header {
	position:absolute;
	top:0;
}
.league-menu {
	background: #004f92;
    float: none;
    display:block;
    @include breakpoint(mini){ 
    	display:none;
    }
}
#nav-container.cbp-af-header-shrink  {
	margin-top:0px;

}
#nav-container.cbp-af-header-shrink .menu {
   @include breakpoint(lg){  margin-left: 55px;  left: 27%;  position: absolute;     top: 0%; margin-top: 0; }
    @include breakpoint(md){  margin-left: 63px; margin-top: 0;position: absolute;left: 17%;    top: 0%;}
}
.top-logo img {
	@include breakpoint(xs){ 
	     //	max-width: 112px;
	 }
}
.header-logo {
    //margin-top: 20px;
   
     @include breakpoint(md){ 
    		display:block;
    	    //margin: 8px 0;
    	    padding-left:0;
    }
 
    @include breakpoint(xs){ 
    	border-right:none;
    	//width:50%;
     
    	margin-top: 0;
    }
}
.header-text {
	 @include breakpoint(md){ 
	     	display:block;
	   }
	   @include breakpoint(xs){ 
	     	display:none;
	   }
	h1 {
		font-family: 'Jockey One', sans-serif;
	    font-size: 60px;
	    color: #fff;
	    padding: 25px 0;
	    padding-left: 20px;
	    font-weight: 100;
	    display: block;
	    margin:0;
	    text-transform:uppercase;
	     @include breakpoint(lg){ 
	     	font-size: 55px;
	     }
	     @include breakpoint(md){ 
	     	font-size: 42px;
	     	display: block;
	     	padding: 30px 0;
	     }
	      @include breakpoint(sm){ 
	     	font-size: 35px;
	     	display: block;
	     }
	     @include breakpoint(xs){ 
	     	display:none;
	     }
	}
}
 #nav-container.cbp-af-header-shrink .top-logo img  {
		background-color: #fff;
		height: 50px;
		width: 68px;
		left: 30px;
		padding:0;
		@include breakpoint(md){ 
			height: 50px;
    		max-width: 55px;
		}

	}
.cbp-af-header-shrink .leaderboard-top-container {display:none;}
 .cbp-af-header-shrink .top-logo {
	 	@include breakpoint(md){ 
	 		top: 8px !important;
	 	}
	 }
	 .leaderboard-top-container {
		width: 680px;
		float: left;
    	//background-color: #185B9F;
		display: block;
		height: 90px;
    	margin-top: 20px;
		@include breakpoint(lg){
        	margin-left: 220px;
        	display:block;
      }
      @include breakpoint(md){
        	margin-left: 164px;
        	display:block;
      }
      @include breakpoint(xs){
        	display:none;
      }
      @include breakpoint(sm){
        	display:none;
      }
	}
	.sticky-logo {
		display:none;
		@include breakpoint(md){
			display:none;
		}
		@include breakpoint(xs){
        	display:block;
        	top: 5px;
    		position: absolute;
      }
      @include breakpoint(sm){
        	display:block;
        	top: 5px;
    		position: absolute;
      }
	}
	.cbp-af-header-shrink .sticky-logo {
		    display: block;
		    @include breakpoint(lg) {
		    	top: 4px;
			    position: absolute;
			    left: 20%;
		    }
		    @include breakpoint(md) {
		    	top: 4px;
			    position: absolute;
			    left: 10%;
		    }
		    @include breakpoint(sm) {
		    	top: 4px;
			    position: absolute;
			    left: 0%;
		    }
		     @include breakpoint(xs) {
		    	top: 4px;
			    position: absolute;
			    left: 0%;
		    }
		    
	}
	.cbp-af-header-shrink .top-logo {
		display:none;
	}

    //padding-top: 40px;
    ul.header_right_logos {
    	
	      	text-align: center;
    		@include breakpoint(sm) {
    			padding:0;
    			display: inline-flex;
    		}
    		 @include breakpoint(lg) {
    		 	margin-left: 55px;
    		 	padding-left:58px;

    		 }
    		 @include breakpoint(xs) {
    		 	display:none;

    		 }

	}
	.header_right_logos li {
	       list-style: none;
		    display: inline-block;
		    padding: 14px 5px;
		     @include breakpoint(md){
		     	    padding: 14px 5px;
		     }
		     @include breakpoint(sm){
		     	    padding: 8px 0px;
		     }
	}
	.social-search {
		.social-icon { 
			  @include breakpoint(sm){
		      	 margin-top: 10px;
		      }
		      @include breakpoint(sm){
		      	 margin-top: 3px;
		      }
		}
		.social-icon a {
		    color: #fff;
		  	padding-right: 7px;
		    font-size: 27px;
		  
		}
	    display: none;
	   // float: right;
	    height: 45px; 
	    margin-top: 28px;
	    float: right;
	    
    	//padding-left: 5px;
	    @include breakpoint(xs){ display:none; /* width: 252px; */ }
	    @include breakpoint(sm){ display:block; height:35px;}
	    @include breakpoint(md) { height:50px}

	}
	.social-search .social-search-list {

	    padding: 0;
	    margin: 0;
	    font-family: 'serpntbi';
    	color: #fff;
		    margin-top: 10px;
		    text-transform: uppercase;
		   // margin-right: 22px;
		    display: inline-block;
		    font-size: 28px;
		     @include breakpoint(md){
    			font-size: 14px;
    			margin-top: 10px;
    		}
    		@include breakpoint(sm){
    			font-size: 13px;
    			margin-top: 3px;
				
    		}
		
	     li {
		    display: inline-block;
		    float: left;
		    margin-left: 11px;
    		font-size: 35px;
    		@include breakpoint(md){
    			font-size: 35px;
    		}
    		@include breakpoint(sm){
    			font-size: 23px;
    		}
	
		}
		a {
			//font-family: "webfont";
			
		    display: block;
		    //color: #185B9F;
		    color: $theme_color;
		    text-align: center;
	
		 
		
		}
	}

#search-form { display: none; }
.hockey-logo {
    float: left;
    display: block;
    margin-top: 8px;
    padding-top: 18px;
    padding-left: 25px;
    @include breakpoint(md) {
    	display: block;
    }
    @include breakpoint(sm) {
    	display: none;
    }
    @include breakpoint(xs) {
    	display: none;
    }
}
.cbp-af-header-shrink .hockey-logo {
	display:none;
}
.social-media-icon {

	display:block;
	@include breakpoint(lg) {
	
		display:block;
	}
	@include breakpoint(md) {
	
		display:block;
	}
	@include breakpoint(sm) {
	
		display:none;
	}
	@include breakpoint(xs) {
	
		display:none; 
	}
}