/*
#slider-panel .panel-content {
    padding: 0;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 72vh;
     @include breakpoint(md){
        height: 62vh;
      }
       @include breakpoint(sm){
        height: 40vh;
      }
       @include breakpoint(xs){
        height: 30vh;
      }
       @include breakpoint(xxs){
        height: 20vh;
      }

}

*/
#slider-panel {
  .panel-content {
    padding:0;
  }
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: left;
  h1 {
    color: #fff;
    text-transform: uppercase;
  }
  

}
header {
  position: relative;
   background: url('../images/home-banner.png') black no-repeat center center scroll;background-size: cover;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
 @include breakpoint(md){
        height: 62vh;
      }
  @include breakpoint(sm){
        height: 40vh;
      }
       @include breakpoint(xs){
        height: 30vh;
      }
       @include breakpoint(xxs){
        height: 20vh;
      }
}

header video {
  position: absolute;
  top: 50%; 
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
/*  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;*/
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('../images/home-banner.png') black no-repeat center center scroll;background-size: cover;
  }
  header video {
    display: none;
  }
}