.solution {

    .solution-title {
        padding-bottom: 35px;
    }

    .bottom-part {
        padding-top:35px;
    }
    .busness-sol {
        @include breakpoint(xs){
           padding-bottom:20px;
     }
    }
}