/* line 1, ../sass/partials/_header.scss */

.top-header {
	height: auto;
}

/* line 21, ../sass/partials/_header.scss */

.header-spons {
	text-align: center;
}

/* line 31, ../sass/partials/_header.scss */

.header-spons ul {
	margin: 0;
}

/* line 59, ../sass/partials/_header.scss */

.header-spons li {
	text-align: center;
	height: 100%;
	list-style: none;
}

/* line 76, ../sass/partials/_header.scss */

.header-spons img {
	-webkit-transform: skew(32deg);
	-moz-transform: skew(32deg);
	-ms-transform: skew(32deg);
	-o-transform: skew(32deg);
	transform: skew(32deg);
}

/* line 101, ../sass/partials/_header.scss */

.top-logo {
	display: inline-block;
	float: left;
}

/* line 113, ../sass/partials/_header.scss */

.logo-text {
	display: inline-block;
	margin-left: 15px;
	float: left;
}

/* line 116, ../sass/partials/_header.scss */

.logo-text .bold-text {
	font-family: 'serpntbi';
	color: #e4002a;
	text-transform: uppercase;
}

/* line 134, ../sass/partials/_header.scss */

.logo-text .small-text {
	font-family: 'serpntbi';
	color: #fff;
	margin-top: 10px;
	text-transform: uppercase;
}

/* line 149, ../sass/partials/_header.scss */

.sub-logos {
	padding-top: 8px;
	display: inline-block;
}

/* line 151, ../sass/partials/_header.scss */

.sub-logos .header_right_logos,
.sub-logos .header-text {
	padding: 0;
}

/* line 154, ../sass/partials/_header.scss */

.sub-logos strong {
	font-family: 'Anton';
	color: #e4002a;
	font-weight: 100;
}

/* line 166, ../sass/partials/_header.scss */

.sub-logos p {
	padding-left: 12px;
}

/* line 177, ../sass/partials/_header.scss */

.top-club-logos {
	padding: 0;
	border-bottom: 2px solid #ccc;
}

/* line 184, ../sass/partials/_header.scss */

.top_logos {
	margin-bottom: 0;
	padding: 0;
}

/* line 188, ../sass/partials/_header.scss */

.top_logos li {
	list-style: none;
	display: inline-block;
}

/* line 189, ../sass/partials/_header.scss */

.top_logos li:first-child {
	padding-left: 0;
}

/* line 201, ../sass/partials/_header.scss */

.top_logos span {
	text-transform: uppercase;
	color: #000;
	font-size: 12px;
	font-weight: 500;
}

/* line 208, ../sass/partials/_header.scss */

#nav-container {
	width: 100%;
	z-index: 1000;
	float: none;
}

/* line 231, ../sass/partials/_header.scss */

#nav-container .top-logo {
	position: absolute;
	top: 5px;
	left: 0;
	z-index: 1010;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

/* line 275, ../sass/partials/_header.scss */

.cbp-af-header-shrink .sb-search {
	top: 0%;
	right: 12%;
	background: none;
}

/* line 292, ../sass/partials/_header.scss */

.cbp-af-header-shrink .container {
	width: 100%;
	padding: 0;
}

/* line 303, ../sass/partials/_header.scss */

form#searchform {
	position: relative;
	width: 100%;
}

/* line 307, ../sass/partials/_header.scss */

.search-box {
	float: right;
	display: none;
}

/* line 322, ../sass/partials/_header.scss */

.search-box input[type="text"] {
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -1px;
	width: 100%;
	display: inline-block;
	height: 55px;
	line-height: 49px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 74px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	outline: none;
}

/* line 343, ../sass/partials/_header.scss */

.search-box #searchsubmit {
	font-family: "webfont";
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 17px;
	float: right;
	border: none;
	margin: 0;
	line-height: 36px;
	width: 40px;
	position: absolute;
	right: 10px;
	height: 40px;
	background: #e4002a;
	display: inline-block; /* box-shadow: inset 0 0 30px #D85119; */ /* text-transform: uppercase; */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	top: 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}

/* line 374, ../sass/partials/_header.scss */

#header {
	position: absolute;
	top: 0;
}

/* line 378, ../sass/partials/_header.scss */

.league-menu {
	background: #004f92;
	float: none;
	display: block;
}

/* line 386, ../sass/partials/_header.scss */

#nav-container.cbp-af-header-shrink {
	margin-top: 0px;
}

/* line 422, ../sass/partials/_header.scss */

.header-text h1 {
	font-family: 'Jockey One', sans-serif;
	font-size: 60px;
	color: #fff;
	padding: 25px 0;
	padding-left: 20px;
	font-weight: 100;
	display: block;
	margin: 0;
	text-transform: uppercase;
}

/* line 449, ../sass/partials/_header.scss */

#nav-container.cbp-af-header-shrink .top-logo img {
	background-color: #fff;
	height: 50px;
	width: 68px;
	left: 30px;
	padding: 0;
}

/* line 461, ../sass/partials/_header.scss */

.cbp-af-header-shrink .leaderboard-top-container {
	display: none;
}

/* line 467, ../sass/partials/_header.scss */

.leaderboard-top-container {
	width: 680px;
	float: left;
	display: block;
	height: 90px;
	margin-top: 20px;
}

/* line 489, ../sass/partials/_header.scss */

.sticky-logo {
	display: none;
}

/* line 505, ../sass/partials/_header.scss */

.cbp-af-header-shrink .sticky-logo {
	display: block;
}

/* line 529, ../sass/partials/_header.scss */

.cbp-af-header-shrink .top-logo {
	display: none;
}

/* line 534, ../sass/partials/_header.scss */

ul.header_right_logos {
	text-align: center;
}

/* line 552, ../sass/partials/_header.scss */

.header_right_logos li {
	list-style: none;
	display: inline-block;
	padding: 14px 5px;
}

/* line 563, ../sass/partials/_header.scss */

.social-search {
	display: none;
	height: 45px;
	margin-top: 28px;
	float: right;
}

/* line 572, ../sass/partials/_header.scss */

.social-search .social-icon a {
	color: #fff;
	padding-right: 7px;
	font-size: 27px;
}

/* line 590, ../sass/partials/_header.scss */

.social-search .social-search-list {
	padding: 0;
	margin: 0;
	font-family: 'serpntbi';
	color: #fff;
	margin-top: 10px;
	text-transform: uppercase;
	display: inline-block;
	font-size: 28px;
}

/* line 611, ../sass/partials/_header.scss */

.social-search .social-search-list li {
	display: inline-block;
	float: left;
	margin-left: 11px;
	font-size: 35px;
}

/* line 624, ../sass/partials/_header.scss */

.social-search .social-search-list a {
	display: block;
	color: #e4002a;
	text-align: center;
}

/* line 637, ../sass/partials/_header.scss */

#search-form {
	display: none;
}

/* line 638, ../sass/partials/_header.scss */

.hockey-logo {
	float: left;
	display: block;
	margin-top: 8px;
	padding-top: 18px;
	padding-left: 25px;
}

/* line 654, ../sass/partials/_header.scss */

.cbp-af-header-shrink .hockey-logo {
	display: none;
}

/* line 657, ../sass/partials/_header.scss */

.social-media-icon {
	display: block;
}

/* line 2, ../sass/partials/_common-styles.scss */

.center {
	text-align: center;
}

/* line 5, ../sass/partials/_common-styles.scss */

.single-gallery-div {
	text-align: left;
	min-height: 273px;
	color: #0f235d;
	font-family: 'serpntbi';
}

/* line 10, ../sass/partials/_common-styles.scss */

.single-gallery-div a {
	color: #000066;
	font-family: 'Anton';
	text-transform: uppercase;
}

/* line 16, ../sass/partials/_common-styles.scss */

.home-more-news .heading {
	color: #012C54;
	margin-bottom: 10px;
	margin-bottom: 10px;
}

/* line 21, ../sass/partials/_common-styles.scss */

.navigation .fsp-arrows {
	font-family: "webfont";
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	padding: 0 5px;
	position: relative;
	top: -9px;
	text-transform: uppercase;
	font-size: 22px;
}

/* line 34, ../sass/partials/_common-styles.scss */

.navigation:before {
	content: "";
	width: 100%;
	height: 99px;
	background: url("../images/page-divider.jpg") no-repeat;
	right: 13px;
	position: absolute;
	background-position: center 0;
	display: inline-block;
}

/* line 44, ../sass/partials/_common-styles.scss */

.navigation a {
	color: #e4002a;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top: 18px;
	font-weight: 600;
	letter-spacing: 0px;
	font-size: 13px;
	width: 80%;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* line 59, ../sass/partials/_common-styles.scss */

.md-text-right {
	text-align: right;
}

/* line 62, ../sass/partials/_common-styles.scss */

.archive-img {
	float: left;
	margin: 0 15px 15px 0;
	max-width: 155px;
	height: auto;
}

/* line 69, ../sass/partials/_common-styles.scss */

.single-title a {
	font-family: 'serpntbi';
	color: #0f235d;
}

/* line 75, ../sass/partials/_common-styles.scss */

.home-more-news {
	margin-top: 20px;
}

/* line 78, ../sass/partials/_common-styles.scss */

.home-more-news-box {
	display: inline-block;
	float: left;
	position: relative;
	width: 22.5%;
}

/* line 88, ../sass/partials/_common-styles.scss */

.read-more a {
	color: #e4002a;
	font-weight: bold;
}

/* line 93, ../sass/partials/_common-styles.scss */

.photo-title {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 16px;
}

/* line 98, ../sass/partials/_common-styles.scss */

.home-more-news-box:nth-of-type(n) {
	margin-bottom: 2%;
	margin-right: 2%;
}

/* line 102, ../sass/partials/_common-styles.scss */

.home-more-news-box img {
	width: 100%;
}

/* line 105, ../sass/partials/_common-styles.scss */

.home-more-news-box h2 {
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 100%;
	background: rgba(24, 91, 159, 0.9);
	font-size: 18px;
	color: #fff;
	padding: 10px 5px;
}

/* line 119, ../sass/partials/_common-styles.scss */

h2.heading {
	text-transform: uppercase;
}

/* line 123, ../sass/partials/_common-styles.scss */

.addthis_toolbox.addthis_default_style {
	margin: 15px 15px 15px 0;
}

/* line 126, ../sass/partials/_common-styles.scss */

.photo-count {
	text-align: center;
	color: #666;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
	font-family: 'Open Sans',sans-serif;
}

/* line 134, ../sass/partials/_common-styles.scss */

.status {
	color: #666;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
	font-family: 'Open Sans',sans-serif;
}

/* line 141, ../sass/partials/_common-styles.scss */

.previous .fa,
.next .fa {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 34px;
	font-size: 25px;
	color: #cacaca;
	width: 7%;
}

/* line 154, ../sass/partials/_common-styles.scss */

li {
	margin-bottom: 10px;
}

/* line 161, ../sass/partials/_common-styles.scss */

.panel-light h1 a {
	color: #00549c;
}

/* line 183, ../sass/partials/_common-styles.scss */

.home-panel {
	position: relative;
}

/* line 186, ../sass/partials/_common-styles.scss */

.panel-content {
	position: relative;
}

/* line 201, ../sass/partials/_common-styles.scss */

.ad-banners {
	padding: 30px 0;
}

/* line 202, ../sass/partials/_common-styles.scss */

.ad-banners .arrow {
	padding-top: 5px;
}

/* line 223, ../sass/partials/_common-styles.scss */

.ad-banners img {
	position: relative;
}

/* line 227, ../sass/partials/_common-styles.scss */

.ad-banners .banner-text {
	position: absolute;
	top: 31%;
	left: 13%;
	color: #fff;
	font-size: 30px;
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	width: 75%;
}

/* line 256, ../sass/partials/_common-styles.scss */

#content-wrap {
	min-height: 500px;
}

/* line 259, ../sass/partials/_common-styles.scss */

#mfcplay {
	margin: 50px 0 50px 0;
	border: none;
	padding: 0;
	width: 100%;
	height: 880px;
}

/* line 266, ../sass/partials/_common-styles.scss */

.panel-no-arrrow div#scroll {
	display: none;
}

/* line 267, ../sass/partials/_common-styles.scss */

.panel-dark .fa-chevron-down {
	color: #fff;
	background: #fff;
}

/* line 271, ../sass/partials/_common-styles.scss */

.panel-light .fa-chevron-down {
	color: #000;
	background: #fff;
}

/* line 275, ../sass/partials/_common-styles.scss */

div#scroll {
	bottom: 23px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	z-index: 99;
	text-align: center;
	width: 100%;
}

/* line 279, ../sass/partials/_common-styles.scss */

div#scroll .fa-chevron-down {
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 16px;
	color: #fff;
	margin: 0 auto;
}

/* line 289, ../sass/partials/_common-styles.scss */

div#scroll .fa-chevron-down:before {
	position: absolute;
	top: 16%;
	left: 0;
	right: 0;
	color: #e4002a;
	border-bottom: 3px solid #fff;
}

/* line 306, ../sass/partials/_common-styles.scss */

#content .container,
#content-wrap .container {
	background: #fff;
}

/* line 309, ../sass/partials/_common-styles.scss */

.news-archive img {
	float: left;
	margin: 0 15px 15px 0;
	height: auto;
}

/* line 315, ../sass/partials/_common-styles.scss */

.pagination1 a:first-child {
	font-weight: bold;
	float: left;
}

/* line 319, ../sass/partials/_common-styles.scss */

.pagination1 a {
	font-weight: bold;
	float: right;
}

/* line 323, ../sass/partials/_common-styles.scss */

.post-content p {
	margin: 0 0 15px;
	letter-spacing: 0px;
	color: #46595B;
	font-size: 14px;
	line-height: 23px;
	font-family: 'Gotham-Book-Regular';
}

/* line 332, ../sass/partials/_common-styles.scss */

.post-content strong {
	color: #2B9DA4;
	font-size: 14px;
	text-shadow: none;
	letter-spacing: 0px;
}

/* line 340, ../sass/partials/_common-styles.scss */

#main-content h1,
#hero h1,
#content-wrap h1 {
	text-transform: none;
	margin: 12px 15px 15px 0;
}

/* line 348, ../sass/partials/_common-styles.scss */

.gallery-title-inner {
	color: #0f235d;
	text-align: center;
	font-family: 'serpntbi';
	font-size: 17px;
	padding: 15px 0;
	text-transform: none;
}

/* line 356, ../sass/partials/_common-styles.scss */

.gallery-title {
	color: #fff;
	text-align: center;
	font-family: 'serpntbi';
	font-size: 17px;
	text-transform: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background: #e4002a;
	z-index: 99;
	width: 221px;
	margin: 0 auto;
}

/* line 382, ../sass/partials/_common-styles.scss */

.gallery-title h1 {
	color: #fff;
}

/* line 386, ../sass/partials/_common-styles.scss */

.page-title {
	border-bottom: 2px solid #eee;
	margin-left: 15px !important;
}

/* line 390, ../sass/partials/_common-styles.scss */

.navigation.row {
	padding-bottom: 15px;
}

/* line 395, ../sass/partials/_common-styles.scss */

.news-archive .front-more-news {
	padding-top: 15px;
}

/* line 410, ../sass/partials/_common-styles.scss */

.wp-pagenavi span.current {
	color: #e4002a !important;
}

/* line 413, ../sass/partials/_common-styles.scss */

.col-1 {
	padding-top: 23px;
	display: inline-block;
	width: 100%;
	padding-bottom: 15px;
}

/* line 425, ../sass/partials/_common-styles.scss */

.banner-bg {
	background-repeat: no-repeat;
	height: 760px;
	width: 100%;
}

/* line 431, ../sass/partials/_common-styles.scss */

.breadcrumb-list {
	margin: 25px 0px 15px 0;
	text-align: right;
}

/* line 432, ../sass/partials/_common-styles.scss */

.breadcrumb-list a {
	color: #0f235d;
	font-size: 12px;
	font-weight: 500;
}

/* line 437, ../sass/partials/_common-styles.scss */

.breadcrumb-list .breadcrumb-current {
	font-weight: bold;
	font-size: 12px;
}

/* line 452, ../sass/partials/_common-styles.scss */

.page-template-about .news-box h4 {
	font-family: 'serpntbi';
	color: #0f235d;
	font-size: 20px;
	padding: 15px 0 7px 0;
	font-weight: 100;
	text-transform: uppercase;
}

/* line 459, ../sass/partials/_common-styles.scss */

.page-template-about .news-box h4:hover {
	color: #e4002a;
}

/* line 464, ../sass/partials/_common-styles.scss */

.pagination {
	display: inline-block;
	padding-bottom: 15px;
	width: 100%;
	padding-top: 10px;
	background: url("../images/page-divider.jpg") no-repeat;
}

/* line 470, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi {
	padding: 8px 0;
}

/* line 473, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi a,
.pagination .wp-pagenavi span {
	border-right: 1px solid #BFBFBF !important;
	border: none;
	color: #000;
	font-weight: 600;
	font-size: 12px;
	padding: 0 6px;
}

/* line 480, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi a:hover,
.pagination .wp-pagenavi span:hover {
	color: #0f235d;
}

/* line 486, ../sass/partials/_common-styles.scss */

#banner-panel .ad-banners {
	padding: 0px;
}

/* line 492, ../sass/partials/_common-styles.scss */

.more-link a {
	color: #0f235d;
	font-weight: bold;
	text-transform: uppercase;
}

/* line 497, ../sass/partials/_common-styles.scss */

.more-link {
	padding: 4px 0 10px;
}

/* line 500, ../sass/partials/_common-styles.scss */

.rel-article-content {
	color: #000;
	font-size: 13px;
	line-height: 19px;
	font-family: 'Open Sans',sans-serif;
}

/* line 507, ../sass/partials/_common-styles.scss */

.social-media h1 {
	color: #fff;
	text-align: center;
}

/* line 512, ../sass/partials/_common-styles.scss */

.social-media .big-title {
	color: #e4002a;
	text-align: center;
	font-size: 40px;
	padding-top: 5px;
}

/* line 520, ../sass/partials/_common-styles.scss */

.social-media .sfeed {
	padding-top: 32px;
	display: inline-block;
}

/* line 524, ../sass/partials/_common-styles.scss */

.social-media .juicer-feed .j-paginate {
	display: none;
}

/* line 529, ../sass/partials/_common-styles.scss */

.staff-name {
	display: inline-block;
	padding-top: 15px;
	font-size: 16px;
	color: #0f245d;
	padding-top: 10px;
}

/* line 539, ../sass/partials/_common-styles.scss */

.staff-name h2 {
	color: #46595B;
}

/* line 544, ../sass/partials/_common-styles.scss */

.staff-company {
	color: #A0D092;
	font-family: 'Gotham-Medium';
}

/* line 547, ../sass/partials/_common-styles.scss */

.staff-upper {
	padding-bottom: 25px;
}

/* line 550, ../sass/partials/_common-styles.scss */

.staff-upper p {
	color: #A0D092;
	font-family: 'Gotham-Medium';
	font-size: 17px;
	line-height: 22px;
}

/* line 559, ../sass/partials/_common-styles.scss */

.staff-image img {
	background: #DAEBE6;
}

/* line 573, ../sass/partials/_common-styles.scss */

.staff-desc {
	padding-top: 15px;
}

/* line 576, ../sass/partials/_common-styles.scss */

.staff-pos {
	font-size: 13px;
	font-weight: 400;
	color: #00A49A;
	padding-top: 3px;
}

/* line 586, ../sass/partials/_common-styles.scss */

.staff-emailtitle {
	color: #000;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
}

/* line 596, ../sass/partials/_common-styles.scss */

.staff-email {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 20px;
}

/* line 614, ../sass/partials/_common-styles.scss */

.contact-details {
	color: #000;
	padding-top: 20px;
}

/* line 617, ../sass/partials/_common-styles.scss */

.contact-details strong {
	font-size: 15px;
}

/* line 620, ../sass/partials/_common-styles.scss */

.contact-details p {
	font-size: 12px;
}

/* line 632, ../sass/partials/_common-styles.scss */

.parent-side {
	padding: 0;
}

/* line 634, ../sass/partials/_common-styles.scss */

.parent-side li {
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	padding-top: 3px;
}

/* line 639, ../sass/partials/_common-styles.scss */

.parent-side li:last-child {
	border: none;
}

/* line 643, ../sass/partials/_common-styles.scss */

.parent-side li.current_page_item > a {
	color: #e4002a;
}

/* line 646, ../sass/partials/_common-styles.scss */

.parent-side li.current_page_item:before {
	content: "\f0d9";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	padding-right: 5px;
	color: #e4002a;
}

/* line 653, ../sass/partials/_common-styles.scss */

.parent-side li a {
	font-weight: 800;
	color: #0f235d;
}

/* line 658, ../sass/partials/_common-styles.scss */

.google-maps {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}

/* line 664, ../sass/partials/_common-styles.scss */

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

/* line 671, ../sass/partials/_common-styles.scss */

.contactus {
	display: inline-block;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 28px;
	padding: 0 12px;
}

/* line 680, ../sass/partials/_common-styles.scss */

.contactus h3 {
	text-align: center;
	padding: 5px 0;
}

/* line 682, ../sass/partials/_common-styles.scss */

.contactus input {
	background: #eee;
	min-height: 40px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	padding: 0 8px;
	color: #000;
	font-weight: 100;
	outline: none;
}

/* line 694, ../sass/partials/_common-styles.scss */

.contactus textarea {
	outline: none;
	background: #eee;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 8px;
	width: 100%;
}

/* line 702, ../sass/partials/_common-styles.scss */

.contactus input[type="submit"] {
	background: #e4002a;
	border: none;
	width: 100%;
	color: #fff;
	font-family: 'serpntbi';
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* line 714, ../sass/partials/_common-styles.scss */

.rtbs .rtbs_menu li a.active {
	color: #0f245d !important;
	border: 1px solid #0f245d;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-bottom: none;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	font-weight: 600;
}

/* line 723, ../sass/partials/_common-styles.scss */

.rtbs .rtbs_menu li a {
	border-bottom: 1px solid #0f245d;
}

/* line 726, ../sass/partials/_common-styles.scss */

.rtbs .rtbs_menu li a {
	color: #999 !important;
	font-weight: 600;
	padding: 9px 13px !important;
}

/* line 731, ../sass/partials/_common-styles.scss */

.rtbs > .rtbs_content {
	border-top: none !important;
}

/* line 734, ../sass/partials/_common-styles.scss */

.rtbs > .rtbs_content {
	background: transparent !important;
}

/* line 737, ../sass/partials/_common-styles.scss */

.rtbs_full .rtbs_menu ul li {
	background: #0f245d !important;
}

/* line 752, ../sass/partials/_common-styles.scss */

.title-logo {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-bottom: 40px;
}

/* line 758, ../sass/partials/_common-styles.scss */

#category-select {
	z-index: 9999;
	position: absolute;
	display: inline-block;
	padding-left: 10px;
	top: 10px;
}

/* line 765, ../sass/partials/_common-styles.scss */

#category-select select {
	height: 47px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-family: 'Open Sans',sans-serif;
	background: #eee;
	color: #0f245d;
	border: none;
	height: 47px;
	padding-top: 23px;
	outline: none;
	font-weight: 600;
}

/* line 784, ../sass/partials/_common-styles.scss */

.headering-top-archive {
	overflow: hidden;
}

/* line 789, ../sass/partials/_common-styles.scss */

.headering-top-archive:after {
	content: "";
	width: 100%;
	height: 99px;
	background: url("../images/page-divider.jpg") no-repeat;
	right: 1px;
	position: absolute;
	background-position: center 72px;
	display: inline-block;
}

/* line 824, ../sass/partials/_common-styles.scss */

#tribe-events-content .tribe-events-calendar td:hover,
#tribe-bar-form .tribe-bar-submit input[type=submit] {
	background: #e4002a !important;
	outline: none;
}

/* line 829, ../sass/partials/_common-styles.scss */

.tribe-events-nav-next a,
.tribe-events-nav-previous a {
	font-family: 'serpntbi';
	color: #e4002a;
}

/* line 834, ../sass/partials/_common-styles.scss */

.tribe-events-month-event-title a,
.tribe-events-filter-view .tribe-events-page-title {
	color: #e4002a;
}

/* line 837, ../sass/partials/_common-styles.scss */

.tribe-events-filters-horizontal #tribe_events_filters_form {
	clear: initial;
}

/* line 840, ../sass/partials/_common-styles.scss */

#tribe-events-bar {
	margin-bottom: 20px;
}

/* line 844, ../sass/partials/_common-styles.scss */

#tribe_events_filters_wrapper h3,
#tribe_events_filters_wrapper a {
	color: #fff;
}

/* line 847, ../sass/partials/_common-styles.scss */

#tribe_events_filters_wrapper {
	background: #0f245d !important;
	border-top: 2px solid #fff !important;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

/* line 852, ../sass/partials/_common-styles.scss */

.tribe-events-filters-content {
	background: #0f245d !important;
	border: none !important;
}

/* line 856, ../sass/partials/_common-styles.scss */

#tribe-bar-form {
	background: #0f235d;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

/* line 861, ../sass/partials/_common-styles.scss */

#tribe-bar-form input[type=text] {
	border-bottom: 1px dashed #fff;
	color: #fff;
}

/* line 865, ../sass/partials/_common-styles.scss */

#tribe-bar-form input[type=text]::-webkit-input-placeholder {
	color: #fff;
}

/* line 869, ../sass/partials/_common-styles.scss */

.tribe-bar-views-inner {
	background: #e4002a;
	color: #fff;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

/* line 874, ../sass/partials/_common-styles.scss */

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	color: #fff;
	background: #e4002a;
	font-weight: 700;
}

/* line 879, ../sass/partials/_common-styles.scss */

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
	background: #e4002a;
}

/* line 882, ../sass/partials/_common-styles.scss */

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
	background: #0f245d;
}

/* line 885, ../sass/partials/_common-styles.scss */

#tribe-events-content .tribe-events-tooltip h4 {
	color: #000;
}

/* line 890, ../sass/partials/_common-styles.scss */

.tribe-events-list-separator-month + .type-tribe_events.tribe-events-first {
	padding-top: 0;
	margin-top: 0;
}

/* line 895, ../sass/partials/_common-styles.scss */

#tribe-events-content .tribe-events-calendar td:hover .tribe-events-month-event-title a {
	color: #fff;
}

/* line 901, ../sass/partials/_common-styles.scss */

.tribe-events-calendar thead th {
	background-color: #e4002a;
	border-left: 1px solid #e4002a;
	border-right: 1px solid #e4002a;
}

/* line 906, ../sass/partials/_common-styles.scss */

.events-list .tribe-events-loop {
	max-width: 100%;
}

/* line 909, ../sass/partials/_common-styles.scss */

.tribe-events-list .type-tribe_events {
	width: 25%;
	display: inline-block;
	vertical-align: top;
}

/* line 1027, ../sass/partials/_common-styles.scss */

#tribe-bar-collapse-toggle {
	background: #0e265d;
	color: #fff;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}

/* line 1032, ../sass/partials/_common-styles.scss */

#tribe_events_filters_wrapper .tribe-events-filters-group-heading {
	background: #0e265d !important;
}

/* line 1035, ../sass/partials/_common-styles.scss */

.tribe-events-list .tribe-events-event-image + div.tribe-events-content,
.tribe-events-list .tribe-events-loop .tribe-events-content {
	display: none;
}

/* line 1040, ../sass/partials/_common-styles.scss */

.tribe-events-event-categories a,
.tribe-venue a {
	color: #000;
}

/* line 1043, ../sass/partials/_common-styles.scss */

.tribe-events-event-url a {
	color: #000;
	text-decoration: underline !important;
}

/* line 1047, ../sass/partials/_common-styles.scss */

#tribe-events .tribe-events-button:hover {
	background-color: #fb0b37;
}

/* line 1050, ../sass/partials/_common-styles.scss */

#tribe-events .tribe-events-content p {
	color: #000;
	font-size: 13px;
	font-weight: 300;
}

/* line 1055, ../sass/partials/_common-styles.scss */

.tribe-events-list-event-title a {
	color: #000;
	text-transform: none;
	font-size: 15px;
	font-weight: 600;
}

/* line 1061, ../sass/partials/_common-styles.scss */

.tribe-events-list-separator-month span,
.tribe-events-list h2.tribe-events-page-title {
	color: #e4002a;
	font-family: 'serpntbi';
}

/* line 1065, ../sass/partials/_common-styles.scss */

#tribe-events .tribe-events-button {
	background-color: #e4002a;
}

/* line 1069, ../sass/partials/_common-styles.scss */

.single-tribe_events .tribe-events-event-meta {
	margin: 0;
}

/* line 1072, ../sass/partials/_common-styles.scss */

.tribe-events-meta-group-venue h3 {
	margin: 0 !important;
}

/* line 1075, ../sass/partials/_common-styles.scss */

.tribe-events-meta-group-details h3 {
	font-family: 'serpntbi';
	color: #e4002a;
	margin-top: 0 !important;
	font-size: 22px !important;
	text-transform: uppercase;
}

/* line 1082, ../sass/partials/_common-styles.scss */

.event-right {
	padding: 0;
}

/* line 1085, ../sass/partials/_common-styles.scss */

.single-tribe_events .tribe-events-event-meta {
	background: none;
	border: none;
	color: #000;
}

/* line 1090, ../sass/partials/_common-styles.scss */

.singleevent-title {
	color: #e4002a;
}

/* line 1093, ../sass/partials/_common-styles.scss */

a.buy-tickets:hover {
	background-color: #fb0b37;
}

/* line 1096, ../sass/partials/_common-styles.scss */

a.buy-tickets {
	background: #e4002a;
	padding: 15px 15px;
	color: #fff;
	font-family: 'serpntbi';
	float: none;
	text-transform: uppercase;
	display: inline-block;
}

/* line 1105, ../sass/partials/_common-styles.scss */

.tribe-events-event-meta .column,
.tribe-events-event-meta .tribe-events-meta-group {
	width: 100%;
	margin-bottom: 0;
}

/* line 1109, ../sass/partials/_common-styles.scss */

.tribe-events-event-meta address.tribe-events-address,
.tribe-events-list .tribe-events-venue-details {
	font-style: normal;
}

/* line 1112, ../sass/partials/_common-styles.scss */

.tribe-events-meta-group-details dd {
	margin-bottom: 15px !important;
}

/* line 1115, ../sass/partials/_common-styles.scss */

#tribe-events .tribe-events-button,
.tribe-events-button {
	font-size: 10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-weight: bold;
}

/* line 1120, ../sass/partials/_common-styles.scss */

.tribe-events-back a {
	display: none;
}

/* line 1128, ../sass/partials/_common-styles.scss */

.tribe-bar-views-list span.tribe-icon-list {
	background: url("../images/icon-list.png") no-repeat;
}

/* line 1131, ../sass/partials/_common-styles.scss */

.tribe-bar-views-list span.tribe-icon-month {
	background: url("../images/icon-month.png") no-repeat;
}

/* line 1134, ../sass/partials/_common-styles.scss */

.apsc-icons-wrapper.clearfix.apsc-theme-1 {
	float: right;
	margin-top: -34px;
}

/* line 1147, ../sass/partials/_common-styles.scss */

.apsc-each-profile a {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

/* line 1151, ../sass/partials/_common-styles.scss */

.social-media .juicer-feed.modern li.feed-item {
	height: 450px;
	overflow: scroll;
}

/* line 1164, ../sass/partials/_common-styles.scss */

.text-panel h1 {
	color: #fff;
}

/* line 1166, ../sass/partials/_common-styles.scss */

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea {
	border: 2px solid #D0D3DA;
	font-family: 'Gotham-Book';
	padding: 8px 8px !important;
}

/* line 1172, ../sass/partials/_common-styles.scss */

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus,
.gform_wrapper textarea:focus {
	outline: none;
}

/* line 1174, ../sass/partials/_common-styles.scss */

.gform_footer input[type=submit] {
	background: #2B9DA4;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	font-family: 'Gotham-Medium';
	padding: 10px 40px;
	color: #fff;
	border: none;
}

/* line 1181, ../sass/partials/_common-styles.scss */

.gform_footer input[type=submit]:focus {
	outline: none;
}

/* line 1183, ../sass/partials/_common-styles.scss */

ul {
	list-style: none;
}

/* line 1187, ../sass/partials/_common-styles.scss */

ul li::before {
	content: "\2022";
	color: #2B9DA4;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

/* line 1195, ../sass/partials/_common-styles.scss */

.headering-top {
	display: inline-block;
	width: 100%;
	padding-top: 50px;
}

/* line 11, ../sass/partials/_slick.scss */

.slick-slider {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

/* line 27, ../sass/partials/_slick.scss */

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

/* line 34, ../sass/partials/_slick.scss */

.slick-list:focus {
	outline: none;
}

/* line 39, ../sass/partials/_slick.scss */

.slick-loading .slick-list {
	background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}

/* line 43, ../sass/partials/_slick.scss */

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

/* line 48, ../sass/partials/_slick.scss */

.slick-slider .slick-track {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* line 56, ../sass/partials/_slick.scss */

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

/* line 61, ../sass/partials/_slick.scss */

.slick-track:before {
	content: "";
	display: table;
}

/* line 65, ../sass/partials/_slick.scss */

.slick-track:after {
	content: "";
	display: table;
	clear: both;
}

/* line 72, ../sass/partials/_slick.scss */

.slick-loading .slick-track {
	visibility: hidden;
}

/* line 76, ../sass/partials/_slick.scss */

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

/* line 83, ../sass/partials/_slick.scss */

[dir="rtl"] .slick-slide {
	float: right;
}

/* line 89, ../sass/partials/_slick.scss */

.slick-slide.slick-loading img {
	display: none;
}

/* line 92, ../sass/partials/_slick.scss */

.slick-slide.dragging img {
	pointer-events: none;
}

/* line 97, ../sass/partials/_slick.scss */

.slick-initialized .slick-slide {
	display: block;
}

/* line 101, ../sass/partials/_slick.scss */

.slick-loading .slick-slide {
	visibility: hidden;
}

/* line 105, ../sass/partials/_slick.scss */

.slick-vertical .slick-slide {
	display: block;
	height: auto;
}

/*
#slider-panel .panel-content {
    padding: 0;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 72vh;
     @include breakpoint(md){
        height: 62vh;
      }
       @include breakpoint(sm){
        height: 40vh;
      }
       @include breakpoint(xs){
        height: 30vh;
      }
       @include breakpoint(xxs){
        height: 20vh;
      }

}

*/

/* line 27, ../sass/partials/_slider.scss */

#slider-panel .panel-content {
	padding: 0;
}

/* line 31, ../sass/partials/_slider.scss */

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: left;
}

/* line 37, ../sass/partials/_slider.scss */

.title h1 {
	color: #fff;
	text-transform: uppercase;
}

/* line 44, ../sass/partials/_slider.scss */

header {
	position: relative;
	background: url("../images/home-banner.png") black no-repeat center center scroll;
	-webkit-background-size: cover cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}

/* line 65, ../sass/partials/_slider.scss */

header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

/* line 80, ../sass/partials/_slider.scss */

header .container {
	position: relative;
	z-index: 2;
}

/* line 85, ../sass/partials/_slider.scss */

header .overlay { /*  position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;*/
}

/* line 1, ../sass/partials/_banner.scss */

.home-sidebar {
	display: none;
}

/* line 3, ../sass/partials/_banner.scss */

.home-sidebar h1 {
	color: #fff;
}

/* line 18, ../sass/partials/_banner.scss */

.fixture h1 {
	color: #fff;
	text-align: center;
}

/* line 23, ../sass/partials/_banner.scss */

.news-sidebar {
	background: #fff;
	padding: 3px 3px;
}

/* line 33, ../sass/partials/_banner.scss */

.news-sidebar .view-more {
	text-align: center;
	text-transform: uppercase;
	background: #e4002a;
	clear: both;
	font-family: 'Anton';
	padding: 7px 0;
}

/* line 40, ../sass/partials/_banner.scss */

.news-sidebar .view-more a {
	color: #fff;
	font-family: 'Anton';
}

/* line 45, ../sass/partials/_banner.scss */

.news-sidebar .feature-img {
	padding: 0px 10px;
}

/* line 47, ../sass/partials/_banner.scss */

.news-sidebar .feature-img img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* line 51, ../sass/partials/_banner.scss */

.news-sidebar .read-more {
	padding: 0;
}

/* line 53, ../sass/partials/_banner.scss */

.news-sidebar .read-more a {
	color: #e4002a;
}

/* line 57, ../sass/partials/_banner.scss */

.news-sidebar .news-content {
	padding: 0 2px;
}

/* line 59, ../sass/partials/_banner.scss */

.news-sidebar .news-content h4 {
	color: #e4002a;
	text-transform: uppercase;
	font-family: 'Anton';
	margin: 0;
}

/* line 74, ../sass/partials/_banner.scss */

.news-sidebar .news-border {
	border-bottom: 1px solid #c5c5c5;
	padding: 8px 0;
	min-height: 82px;
}

/* line 78, ../sass/partials/_banner.scss */

.news-sidebar .news-border:last-child {
	border: none;
}

/* line 83, ../sass/partials/_banner.scss */

.news-sidebar .rel-article-time {
	font-family: Roboto-Regular;
	color: #666666;
	font-size: 10px;
	text-transform: uppercase;
}

/* line 91, ../sass/partials/_banner.scss */

.ad-banners .promo-logo {
	position: absolute;
	top: 37%;
	left: 0;
	right: 0;
	text-align: center;
}

/* line 98, ../sass/partials/_banner.scss */

.ad-banners .banner-images {
	padding-bottom: 15px;
}

/* line 107, ../sass/partials/_banner.scss */

.ad-banners .banner-images .img-border {
	border: 4px solid #fff;
}

/* line 111, ../sass/partials/_banner.scss */

.ad-banners .promo-arrow {
	position: absolute;
	top: 61%;
	left: 50%;
	font-family: 'Anton';
	color: #fff;
	font-size: 31px;
	text-transform: uppercase;
	letter-spacing: 1px;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 1;
	padding: 14px;
	z-index: 999;
}

/* line 128, ../sass/partials/_banner.scss */

.ad-banners .promo-arrow a {
	color: #fff;
}

/* line 132, ../sass/partials/_banner.scss */

.ad-banners .promo-title {
	position: absolute;
	top: 45%;
	left: 50%;
	font-family: 'Anton';
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #000066;
	text-shadow: 1px 3px 13px #000;
	-ms-transform: translate(-50%, -50%) rotate(-7deg);
	-webkit-transform: translate(-50%, -50%) rotate(-7deg);
	-moz-transform: translate(-50%, -50%) rotate(-7deg);
	-o-transform: translate(-50%, -50%) rotate(-7deg);
	transform: translate(-50%, -50%) rotate(-7deg);
	opacity: 1;
	padding: 12px;
	z-index: 999;
}

/* line 159, ../sass/partials/_banner.scss */

.ad-banners .promo-title a {
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #000066;
	vertical-align: middle;
	font-family: 'Anton';
	color: #fff;
}

/* line 185, ../sass/partials/_banner.scss */

.ad-banners .promo-image {
	width: 100%;
	height: 0;
	padding-top: 77.64%;
	position: relative;
}

/* line 195, ../sass/partials/_banner.scss */

.ad-banners .promo-image:after {
	content: '';
	background: -moz-linear-gradient(top, rgba(0, 0, 102, 0.06) 0%, rgba(0, 0, 102, 0.1) 59%, rgba(0, 0, 102, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 102, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 102, 0.06) 0%, rgba(0, 0, 102, 0.1) 59%, rgba(0, 0, 102, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 102, 0.06) 0%, rgba(0, 0, 102, 0.1) 59%, rgba(0, 0, 102, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 102, 0.06)), color-stop(59%, rgba(0, 0, 102, 0.1)), to(rgba(0, 0, 102, 0.85)));
	background: linear-gradient(to bottom, rgba(0, 0, 102, 0.06) 0%, rgba(0, 0, 102, 0.1) 59%, rgba(0, 0, 102, 0.85) 100%);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* line 211, ../sass/partials/_banner.scss */

.banners {
	padding: 0;
	position: relative;
}

/* line 214, ../sass/partials/_banner.scss */

.banners li {
	list-style: none;
	float: left;
	padding: 0 10px;
}

/* line 230, ../sass/partials/_banner.scss */

.banners li:first-child h3 {
	position: absolute;
	top: 41%;
	color: #fff;
	z-index: 99999;
	left: 30%;
	font-family: 'Anton';
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 100;
}

/* line 273, ../sass/partials/_banner.scss */

.facebook-social-md {
	display: none;
}

/* line 284, ../sass/partials/_banner.scss */

.facebook-social {
	display: none;
}

/* line 294, ../sass/partials/_banner.scss */

#banner-panel .panel-content {
	border-top: 3px solid #fff;
}

/* line 2, ../sass/partials/_footer.scss */

.footer {
	background: #46595B;
	padding: 35px 0;
}

/* line 15, ../sass/partials/_footer.scss */

.footer p {
	color: #fff;
	text-align: center;
	font-family: 'Gotham-Book-Regular';
}

/* line 20, ../sass/partials/_footer.scss */

.footer a {
	color: #fff;
	font-weight: bold;
}

/* line 1, ../sass/partials/home-news.scss */

.front-more-news {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
	padding-top: 10px;
}

/* line 7, ../sass/partials/home-news.scss */

.front-more-news .read-more {
	color: #0d223f;
	font-weight: 600;
	padding: 0 10px;
	font-size: 16px;
}

/* line 13, ../sass/partials/home-news.scss */

.front-more-news .sponsor-img {
	padding-top: 10px;
}

/* line 16, ../sass/partials/home-news.scss */

.front-more-news li {
	margin: 3px 0;
	padding: 14px;
	float: left;
	display: inline-block;
	background: #fff;
	line-height: 20px;
}

/* line 30, ../sass/partials/home-news.scss */

.front-more-news li p {
	padding: 0 10px;
	font-size: 15px;
	line-height: 26px;
}

/* line 35, ../sass/partials/home-news.scss */

.front-more-news li .rel-article-time {
	background: #fff;
	margin-bottom: 5px;
	padding: 5px 10px;
	font-size: 15px;
}

/* line 44, ../sass/partials/home-news.scss */

.rel-article-time {
	color: #999;
	font-size: 12px;
}

/* line 59, ../sass/partials/home-news.scss */

.more-news .fa-chevron-circle-right {
	padding-left: 10px;
}

/* line 83, ../sass/partials/home-news.scss */

.sponsor-img {
	padding-top: 10px;
}

/* line 84, ../sass/partials/home-news.scss */

.major-sponsor h3 {
	color: #fff;
}

/* line 93, ../sass/partials/home-news.scss */

.major-sponsor {
	padding: 0;
}

/* line 106, ../sass/partials/home-news.scss */

.sponsor-text {
	float: left;
	padding-top: 15px;
}

/* line 110, ../sass/partials/home-news.scss */

.sponsor-text ul {
	padding: 0px;
	border: 1px solid #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* line 114, ../sass/partials/home-news.scss */

.sponsor-text li {
	list-style: none;
	color: #fff;
	padding: 10px 5px;
	border-bottom: 1px solid;
}

/* line 119, ../sass/partials/home-news.scss */

.sponsor-text li a {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}

/* line 127, ../sass/partials/home-news.scss */

.sponsor-text span.sub-text {
	font-size: 14px;
	font-weight: 100;
}

/* line 131, ../sass/partials/home-news.scss */

.sponsor-text i.fa.fa-trophy,
.sponsor-text .fa-calendar,
.sponsor-text .fa-map-marker,
.sponsor-text .fa-book {
	color: #fff;
	font-size: 33px;
	float: left;
	padding: 13px;
}

/* line 138, ../sass/partials/home-news.scss */

.more-news-section,
.event-sidebar {
	padding: 0;
}

/* line 139, ../sass/partials/home-news.scss */

.more-news-section h3 a {
	color: #fff;
	font-weight: 600;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	position: relative;
}

/* line 180, ../sass/partials/home-news.scss */

.widget-title {
	font-family: 'Rajdhani', sans-serif;
	color: #185B9F;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
	clear: both;
}

/* line 188, ../sass/partials/home-news.scss */

.event_archive_link {
	display: block;
	height: 55px;
	width: 100%;
	text-align: center;
	left: 0;
	bottom: 0;
	background: #012C54;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 55px;
}

/* line 215, ../sass/partials/home-news.scss */

.event_widget_row,
.event_list_row {
	position: relative;
	display: block;
	color: #012C54;
	height: 45px;
	background-color: #F2F2F3;
	font-size: 16px;
}

/* line 224, ../sass/partials/home-news.scss */

.event_widget_row:hover,
.event_list_row:hover {
	background-color: #f7f7f8;
}

/* line 227, ../sass/partials/home-news.scss */

.event_widget_row:hover:nth-child(odd),
.event_list_row:hover:nth-child(odd) {
	background-color: #f7f7f8;
}

/* line 232, ../sass/partials/home-news.scss */

.event_widget_row:nth-child(odd),
.event_list_row:nth-child(odd) {
	background-color: #E6E6E8;
}

/* line 235, ../sass/partials/home-news.scss */

.event_widget_row .event_date,
.event_widget_row .event_title,
.event_widget_row .event_time,
.event_list_row .event_date,
.event_list_row .event_title,
.event_list_row .event_time {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

/* line 238, ../sass/partials/home-news.scss */

.event_widget_row .event_date,
.event_list_row .event_date {
	font-weight: 300;
	left: 5px;
}

/* line 245, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	font-weight: 700;
	white-space: nowrap;
	left: 60px;
	width: 190px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* line 268, ../sass/partials/home-news.scss */

.event_widget_row .event_time,
.event_list_row .event_time {
	display: none;
}

/* line 272, ../sass/partials/home-news.scss */

.elite_events_list ul {
	padding: 0;
}

/* line 275, ../sass/partials/home-news.scss */

.elite_events_list ul li {
	list-style: none;
}

/* line 277, ../sass/partials/home-news.scss */

.elite_events_list ul li .event_title {
	left: 90px;
}

/* line 282, ../sass/partials/home-news.scss */

#new-archive-get-involved-panel .panel-content {
	padding: 0 !important;
}

/* line 285, ../sass/partials/home-news.scss */

.main-news-archive {
	background-color: rgba(255, 255, 255, 0.1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.32)));
	background-image: -webkit-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
	background-image: -moz-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
	background-image: -o-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(255, 255, 255, 0.32)));
	background-image: linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='rgba(255, 255, 255, 0.32)');
	display: block;
}

/* line 310, ../sass/partials/home-news.scss */

.news-box {
	min-height: 285px;
}

/* line 312, ../sass/partials/home-news.scss */

.news-box h4 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'serpntbi';
	letter-spacing: 0px;
	padding: 0 0 5px 0;
	line-height: 19px;
	color: #0f235d;
	margin: 0;
	display: inline-block;
	font-size: 16px;
	text-transform: none;
}

/* line 328, ../sass/partials/home-news.scss */

.news-box h4:hover {
	color: #e4002a;
}

/* line 334, ../sass/partials/home-news.scss */

.tribe-events-back a {
	display: none;
}

/* line 2, ../sass/partials/_single.scss */

.post-content img {
	max-width: 100%;
}

/* line 12, ../sass/partials/_single.scss */

.post-content .featured-image {
	margin-bottom: 20px;
}

/* line 21, ../sass/partials/_single.scss */

.news-title {
	margin-bottom: 10px;
}

/* line 34, ../sass/partials/_single.scss */

.buttons-box-inner li a {
	display: block;
	-webkit-font-smoothing: antialiased;
	color: #FFFFFF;
	width: 100%;
	text-transform: uppercase;
	font-family: 'serpntbi';
}

/* line 48, ../sass/partials/_single.scss */

.buttons-box-inner li a > span {
	float: left;
	width: 85%;
}

/* line 52, ../sass/partials/_single.scss */

.buttons-box-inner li:hover a {
	color: #fff;
}

/* line 55, ../sass/partials/_single.scss */

.buttons-box-inner li:hover {
	background: #c20023;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	border: solid 1px #dddddd;
	height: 55px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	background: #e4002a;
}

/* line 81, ../sass/partials/_single.scss */

.buttons-box-inner li .fa-chevron-circle-right:before {
	background: rgba(0, 0, 0, 0.23);
	padding: 7px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	font-size: 21px;
}

/* line 88, ../sass/partials/_single.scss */

.buttons-box-inner {
	margin-top: 12px;
	padding: 0;
	margin: 0;
	background: #fff;
	display: block;
}

/* line 96, ../sass/partials/_single.scss */

.post-meta p {
	margin-bottom: 0;
}

/* line 99, ../sass/partials/_single.scss */

.post-meta .tags {
	font-size: 12px;
	text-transform: uppercase;
}

/* line 102, ../sass/partials/_single.scss */

.post-meta .tags a {
	background: #012C54;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0 2px;
	padding: 0 3px;
	font-size: 12px;
}

/* line 109, ../sass/partials/_single.scss */

.post-meta .tags a:hover {
	text-decoration: none;
	background: #00549c;
}

/* Player Profile, Gallery - single */

/* line 131, ../sass/partials/_single.scss */

.player-img-container,
.cover-img-container {
	float: left;
	margin-right: 10px;
}

/* line 141, ../sass/partials/_single.scss */

.players-single p.intro,
.gallery-single p.intro {
	font-size: 16px;
	font-weight: 400;
}

/* line 145, ../sass/partials/_single.scss */

.players-single td,
.gallery-single td {
	padding: 0 5px;
}

/* line 151, ../sass/partials/_single.scss */

.is-landing .custom-header-img,
.is-landing .custom-header-img-mobile {
	margin-bottom: 20px;
}

/* line 155, ../sass/partials/_single.scss */

#weblizar_twitter-3 .widget-title {
	display: none;
}

/* line 3, ../sass/partials/_solution.scss */

.solution .solution-title {
	padding-bottom: 35px;
}

/* line 7, ../sass/partials/_solution.scss */

.solution .bottom-part {
	padding-top: 35px;
}

/* line 17, ../sass/partials/_about.scss */

.about .right p {
	color: #fff;
}

/* line 21, ../sass/partials/_about.scss */

.about .left button {
	background: #fff;
	border: none;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	font-family: 'Gotham-Medium';
	color: #2B9DA4;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	padding: 10px 40px;
}

/* line 28, ../sass/partials/_about.scss */

.about .left button:focus {
	outline: none;
}

/* line 46, ../sass/partials/_about.scss */

.about .left h1 {
	font-family: 'Gotham-bold';
	color: #ffff;
	text-align: right;
}

@font-face {
	font-family: 'Gotham-bold';
	src: url("../fonts/Gotham-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Book-Regular';
	src: url("../fonts/Gotham-Book-Regular.otf") format("opentype");
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Medium';
	src: url("../fonts/Gotham-Medium-Regular.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Book';
	src: url("../fonts/GOTHAMBOOK.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
	src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/* line 88, ../sass/app.scss */

body {
	font-family: 'Gotham-Book-Regular';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	overflow-x: hidden;
}

/* line 128, ../sass/app.scss */

#nav-container > .container {
	position: relative;
	padding: 0;
}

/* line 135, ../sass/app.scss */

#logo {
	position: absolute;
	top: 0;
	background: url("../images/sabres-logo.png") 0 0 no-repeat;
}

/* line 160, ../sass/app.scss */

#logo a {
	display: block;
	height: 119px;
}

/* line 173, ../sass/app.scss */

#main-content span.news-date {
	display: block;
	float: right;
	padding-left: 10px;
	color: #fff;
}

/* line 186, ../sass/app.scss */

.has-club-logos #content {
	padding-top: 0;
}

/* line 190, ../sass/app.scss */

#sidebar {
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
}

/* line 196, ../sass/app.scss */

.has-club-logos #sidebar {
	padding-top: 20px;
}

/* line 201, ../sass/app.scss */

.fsp-adv-social-media {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* line 208, ../sass/app.scss */

.fsp-adv-social-media li {
	display: inline-block;
	margin-left: 5px;
}

/* line 211, ../sass/app.scss */

.fsp-adv-social-media li.share-title {
	display: none;
}

/* line 213, ../sass/app.scss */

.single .fsp-adv-social-media li.share-title {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans',sans-serif;
	font-weight: 500;
	letter-spacing: 0px;
	position: relative;
	top: -4px;
}

/* line 220, ../sass/app.scss */

.fsp-adv-social-media li a {
	font-size: 30px;
	font-family: "webfont";
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #DDAA08 !important;
}

/* line 224, ../sass/app.scss */

.fsp-adv-social-media li a:hover {
	color: #00549c !important;
	text-decoration: none;
}

/* line 232, ../sass/app.scss */

.lower-section {
	margin-top: 20px;
}

/* line 236, ../sass/app.scss */

.title-404 {
	display: none;
}

/*# sourceMappingURL=app.css.map */

@media (pointer: coarse) and (hover: none) {

/* line 97, ../sass/partials/_slider.scss */

header {
	background: url("../images/home-banner.png") black no-repeat center center scroll;
	-webkit-background-size: cover cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* line 100, ../sass/partials/_slider.scss */

header video {
	display: none;
}

}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

@font-face {
	font-family: 'webfont';
	src: url("../fonts/webfont.svg?1531711#webfont") format("svg");
}

}

@media (min-width: 410px) and (max-width: 485px) {

/* line 260, ../sass/partials/_banner.scss */

.ad-banners .promo-image:after {
	width: 100%;
}

}

@media (min-width: 485px) and (max-width: 776px) {

/* line 267, ../sass/partials/_banner.scss */

.banner-images {
	width: 50%;
	float: left;
}

}

@media (min-width: 650px) and (max-width: 990px) {

/* line 73, ../sass/partials/home-news.scss */

.sponsor-img {
	float: left;
	width: 45%;
}

/* line 77, ../sass/partials/home-news.scss */

.sponsor-text {
	padding: 10px 0;
	width: 55%;
	padding-left: 15px;
}

}

@media (max-width: 767px), (min-width: 768px) {

/* line 431, ../sass/partials/_common-styles.scss */

.breadcrumb-list {
	display: none;
}

}

@media (min-width: 767px) and (max-width: 990px) {

/* line 68, ../sass/partials/home-news.scss */

#latest-news-panel .panel-content {
	background: #0d2241 !important;
}

/* line 69, ../sass/partials/home-news.scss */

.major-sponsor {
	margin-top: 25px;
}

}

@media (min-width: 768px) {

/* line 1, ../sass/partials/_header.scss */

.top-header {
	display: block;
	background: #fff;
}

/* line 21, ../sass/partials/_header.scss */

.header-spons {
	display: block;
}

/* line 31, ../sass/partials/_header.scss */

.header-spons ul {
	display: block;
	position: fixed;
	top: 0;
	left: 91px;
	z-index: 9999999;
}

/* line 59, ../sass/partials/_header.scss */

.header-spons li {
	background: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

/* line 76, ../sass/partials/_header.scss */

.header-spons img {
	max-height: 80px;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

/* line 116, ../sass/partials/_header.scss */

.logo-text .bold-text {
	font-size: 25px;
	margin-top: 35px;
}

/* line 134, ../sass/partials/_header.scss */

.logo-text .small-text {
	font-size: 22px;
}

/* line 154, ../sass/partials/_header.scss */

.sub-logos strong {
	font-size: 14px;
}

/* line 166, ../sass/partials/_header.scss */

.sub-logos p {
	font-size: 12px;
	line-height: 15px;
}

/* line 188, ../sass/partials/_header.scss */

.top_logos li {
	padding: 6px 16px;
}

/* line 208, ../sass/partials/_header.scss */

#nav-container {
	float: none;
	display: none;
	height: auto;
}

/* line 233, ../sass/partials/_header.scss */

#nav-container .top-logo img {
	display: none;
}

/* line 275, ../sass/partials/_header.scss */

.cbp-af-header-shrink .sb-search {
	top: 14%;
	right: 25%;
}

/* line 307, ../sass/partials/_header.scss */

.search-box {
	display: block;
}

/* line 422, ../sass/partials/_header.scss */

.header-text h1 {
	font-size: 35px;
	display: block;
}

/* line 467, ../sass/partials/_header.scss */

.leaderboard-top-container {
	display: none;
}

/* line 489, ../sass/partials/_header.scss */

.sticky-logo {
	display: block;
	top: 5px;
	position: absolute;
}

/* line 505, ../sass/partials/_header.scss */

.cbp-af-header-shrink .sticky-logo {
	top: 4px;
	position: absolute;
	left: 0%;
}

/* line 534, ../sass/partials/_header.scss */

ul.header_right_logos {
	padding: 0;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

/* line 552, ../sass/partials/_header.scss */

.header_right_logos li {
	padding: 8px 0px;
}

/* line 564, ../sass/partials/_header.scss */

.social-search .social-icon {
	margin-top: 10px;
}

/* line 564, ../sass/partials/_header.scss */

.social-search .social-icon {
	margin-top: 3px;
}

/* line 563, ../sass/partials/_header.scss */

.social-search {
	display: block;
	height: 35px;
}

/* line 590, ../sass/partials/_header.scss */

.social-search .social-search-list {
	font-size: 13px;
	margin-top: 3px;
}

/* line 611, ../sass/partials/_header.scss */

.social-search .social-search-list li {
	font-size: 23px;
}

/* line 638, ../sass/partials/_header.scss */

.hockey-logo {
	display: none;
}

/* line 657, ../sass/partials/_header.scss */

.social-media-icon {
	display: none;
}

/* line 167, ../sass/partials/_common-styles.scss */

h1 {
	font-size: 25px;
}

/* line 186, ../sass/partials/_common-styles.scss */

.panel-content {
	padding: 45px 0;
}

/* line 205, ../sass/partials/_common-styles.scss */

.ad-banners .col-md-4 {
	width: 33%;
	float: left;
	padding: 5px;
}

/* line 227, ../sass/partials/_common-styles.scss */

.ad-banners .banner-text {
	font-size: 20px;
	line-height: 22px;
}

/* line 356, ../sass/partials/_common-styles.scss */

.gallery-title {
	padding: 3px 0;
}

/* line 789, ../sass/partials/_common-styles.scss */

.headering-top-archive:after {
	width: 100%;
	height: 80px;
	right: 1px;
	-webkit-background-size: 969px 969px;
	-moz-background-size: 969px;
	-o-background-size: 969px;
	background-size: 969px;
	background-position: center 1px;
}

/* line 909, ../sass/partials/_common-styles.scss */

.tribe-events-list .type-tribe_events {
	width: 33.33%;
}

/* line 923, ../sass/partials/_common-styles.scss */

.tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-] {
	background-color: #0e265d;
}

/* line 975, ../sass/partials/_common-styles.scss */

.tribe-events-calendar td.tribe-events-present.mobile-active {
	background-color: #0e265d;
}

/* line 986, ../sass/partials/_common-styles.scss */

.tribe-events-loop .tribe-events-event-meta {
	background: none;
	border: none;
}

/* line 1003, ../sass/partials/_common-styles.scss */

.tribe-events-sub-nav li a {
	background-color: none;
}

/* line 1123, ../sass/partials/_common-styles.scss */

.tribe-events-filters-horizontal #tribe_events_filters_form {
	clear: initial !important;
}

/* line 1134, ../sass/partials/_common-styles.scss */

.apsc-icons-wrapper.clearfix.apsc-theme-1 {
	margin-top: 15px;
}

/* line 44, ../sass/partials/_slider.scss */

header {
	height: 40vh;
}

/* line 1, ../sass/partials/_banner.scss */

.home-sidebar {
	display: none;
}

/* line 23, ../sass/partials/_banner.scss */

.news-sidebar {
	display: none;
}

/* line 132, ../sass/partials/_banner.scss */

.ad-banners .promo-title {
	padding: 10px;
}

/* line 159, ../sass/partials/_banner.scss */

.ad-banners .promo-title a {
	font-size: 23px;
}

/* line 230, ../sass/partials/_banner.scss */

.banners li:first-child h3 {
	font-size: 24px;
}

/* line 16, ../sass/partials/home-news.scss */

.front-more-news li {
	width: 46%;
	margin-right: 17px;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	height: inherit;
}

/* line 188, ../sass/partials/home-news.scss */

.event_archive_link {
	position: static;
	margin-top: 2px;
}

/* line 245, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	left: 60px;
	width: 250px;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	font-size: 17px;
	height: 66px;
	padding: 0px 10px;
}

/* line 117, ../sass/partials/_single.scss */

#content-wrap {
	min-height: 700px;
}

/* line 1, ../sass/partials/_about.scss */

.about {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

/* line 4, ../sass/partials/_about.scss */

.about .right {
	border-left: 1px solid #fff;
	padding: 0;
	padding-left: 30px;
}

/* line 20, ../sass/partials/_about.scss */

.about .left {
	padding-right: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

/* line 135, ../sass/app.scss */

#logo {
	width: 437px;
	left: -20px;
	z-index: 1000;
}

}

@media (min-width: 769px) {

/* line 17, ../sass/partials/_header.scss */

.top-header {
	display: block;
}

}

@media only screen and (max-width: 992px) and (min-width: 200px) {

/* line 490, ../sass/partials/_common-styles.scss */

.headering-top {
	overflow: inherit;
}

}

@media (min-width: 992px) {

/* line 1, ../sass/partials/_header.scss */

.top-header {
	height: 140px;
	display: block;
}

/* line 31, ../sass/partials/_header.scss */

.header-spons ul {
	position: relative;
	top: 0;
	left: 0;
	padding-left: 23px;
	height: 120px;
}

/* line 59, ../sass/partials/_header.scss */

.header-spons li {
	background: #fff;
	-webkit-transform: skew(-32deg);
	-moz-transform: skew(-32deg);
	-ms-transform: skew(-32deg);
	-o-transform: skew(-32deg);
	transform: skew(-32deg);
}

/* line 76, ../sass/partials/_header.scss */

.header-spons img {
	max-height: 85px;
	-webkit-transform: skew(32deg);
	-moz-transform: skew(32deg);
	-ms-transform: skew(32deg);
	-o-transform: skew(32deg);
	transform: skew(32deg);
}

/* line 101, ../sass/partials/_header.scss */

.top-logo {
	padding-top: 34px;
}

/* line 116, ../sass/partials/_header.scss */

.logo-text .bold-text {
	font-size: 28px;
	margin-top: 35px;
}

/* line 134, ../sass/partials/_header.scss */

.logo-text .small-text {
	font-size: 22px;
}

/* line 154, ../sass/partials/_header.scss */

.sub-logos strong {
	font-size: 16px;
}

/* line 166, ../sass/partials/_header.scss */

.sub-logos p {
	font-size: 13px;
	line-height: 18px;
}

/* line 208, ../sass/partials/_header.scss */

#nav-container {
	display: block;
	height: auto;
	float: none;
}

/* line 233, ../sass/partials/_header.scss */

#nav-container .top-logo img {
	max-width: 80%;
	padding: 10px;
	height: auto;
	display: block;
}

/* line 231, ../sass/partials/_header.scss */

#nav-container .top-logo {
	top: 60px;
}

/* line 307, ../sass/partials/_header.scss */

.search-box {
	display: block;
}

/* line 390, ../sass/partials/_header.scss */

#nav-container.cbp-af-header-shrink .menu {
	margin-left: 63px;
	margin-top: 0;
	position: absolute;
	left: 17%;
	top: 0%;
}

/* line 399, ../sass/partials/_header.scss */

.header-logo {
	display: block;
	padding-left: 0;
}

/* line 415, ../sass/partials/_header.scss */

.header-text {
	display: block;
}

/* line 422, ../sass/partials/_header.scss */

.header-text h1 {
	font-size: 42px;
	display: block;
	padding: 30px 0;
}

/* line 449, ../sass/partials/_header.scss */

#nav-container.cbp-af-header-shrink .top-logo img {
	height: 50px;
	max-width: 55px;
}

/* line 462, ../sass/partials/_header.scss */

.cbp-af-header-shrink .top-logo {
	top: 8px !important;
}

/* line 467, ../sass/partials/_header.scss */

.leaderboard-top-container {
	margin-left: 164px;
	display: block;
}

/* line 489, ../sass/partials/_header.scss */

.sticky-logo {
	display: none;
}

/* line 505, ../sass/partials/_header.scss */

.cbp-af-header-shrink .sticky-logo {
	top: 4px;
	position: absolute;
	left: 10%;
}

/* line 552, ../sass/partials/_header.scss */

.header_right_logos li {
	padding: 14px 5px;
}

/* line 563, ../sass/partials/_header.scss */

.social-search {
	height: 50px;
}

/* line 590, ../sass/partials/_header.scss */

.social-search .social-search-list {
	font-size: 14px;
	margin-top: 10px;
}

/* line 611, ../sass/partials/_header.scss */

.social-search .social-search-list li {
	font-size: 35px;
}

/* line 638, ../sass/partials/_header.scss */

.hockey-logo {
	display: block;
}

/* line 657, ../sass/partials/_header.scss */

.social-media-icon {
	display: block;
}

/* line 167, ../sass/partials/_common-styles.scss */

h1 {
	font-size: 33px;
}

/* line 186, ../sass/partials/_common-styles.scss */

.panel-content {
	padding: 75px 0;
}

/* line 227, ../sass/partials/_common-styles.scss */

.ad-banners .banner-text {
	font-size: 23px;
	line-height: 28px;
}

/* line 356, ../sass/partials/_common-styles.scss */

.gallery-title {
	padding: 4px 0;
}

/* line 396, ../sass/partials/_common-styles.scss */

.news-archive .front-more-news li:nth-child(n) {
	margin-bottom: 1%;
	margin-right: 1%;
}

/* line 403, ../sass/partials/_common-styles.scss */

.news-archive .front-more-news li {
	width: 24%;
}

/* line 431, ../sass/partials/_common-styles.scss */

.breadcrumb-list {
	display: block;
}

/* line 784, ../sass/partials/_common-styles.scss */

.headering-top-archive {
	height: 95px;
}

/* line 789, ../sass/partials/_common-styles.scss */

.headering-top-archive:after {
	width: 100%;
	height: 113px;
	right: 1px;
	-webkit-background-size: 964px 964px;
	-moz-background-size: 964px;
	-o-background-size: 964px;
	background-size: 964px;
	background-position: center 61px;
}

/* line 909, ../sass/partials/_common-styles.scss */

.tribe-events-list .type-tribe_events {
	width: 24.5%;
}

/* line 923, ../sass/partials/_common-styles.scss */

.tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-] {
	background-color: #666;
}

/* line 970, ../sass/partials/_common-styles.scss */

#tribe-events-content .tribe-events-calendar td {
	height: 160px;
}

/* line 975, ../sass/partials/_common-styles.scss */

.tribe-events-calendar td.tribe-events-present.mobile-active {
	background-color: #666;
}

/* line 1003, ../sass/partials/_common-styles.scss */

.tribe-events-sub-nav li a {
	background-color: none;
}

/* line 1134, ../sass/partials/_common-styles.scss */

.apsc-icons-wrapper.clearfix.apsc-theme-1 {
	margin-top: -34px;
}

/* line 44, ../sass/partials/_slider.scss */

header {
	height: 62vh;
}

/* line 1, ../sass/partials/_banner.scss */

.home-sidebar {
	display: block;
}

/* line 23, ../sass/partials/_banner.scss */

.news-sidebar {
	display: block;
}

/* line 59, ../sass/partials/_banner.scss */

.news-sidebar .news-content h4 {
	font-size: 16px;
	line-height: 20px;
}

/* line 98, ../sass/partials/_banner.scss */

.ad-banners .banner-images {
	padding-left: 0;
	padding-right: 17px;
}

/* line 132, ../sass/partials/_banner.scss */

.ad-banners .promo-title {
	padding: 8px;
}

/* line 159, ../sass/partials/_banner.scss */

.ad-banners .promo-title a {
	font-size: 20px;
}

/* line 230, ../sass/partials/_banner.scss */

.banners li:first-child h3 {
	font-size: 28px;
}

/* line 273, ../sass/partials/_banner.scss */

.facebook-social-md {
	display: block;
	padding: 0;
}

/* line 284, ../sass/partials/_banner.scss */

.facebook-social {
	display: none;
	padding: 0;
}

/* line 2, ../sass/partials/_footer.scss */

.footer {
	text-align: left;
}

/* line 16, ../sass/partials/home-news.scss */

.front-more-news li {
	width: 45%;
}

/* line 149, ../sass/partials/home-news.scss */

.front-more-news li:nth-child(n) {
	margin-bottom: 2%;
	margin-right: 2%;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	height: 404px;
}

/* line 170, ../sass/partials/home-news.scss */

.elite_events_widget .widget-title {
	margin-bottom: 15px;
	font-size: 26px;
}

/* line 188, ../sass/partials/home-news.scss */

.event_archive_link {
	position: absolute;
	margin-top: 0;
}

/* line 245, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	left: 50px;
	width: 150px;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	font-size: 18px;
	height: 68px;
	padding: 10px;
}

/* line 135, ../sass/app.scss */

#logo {
	width: 437px;
	left: -50px;
	z-index: 0;
}

}

@media (min-width: 1200px) {

/* line 31, ../sass/partials/_header.scss */

.header-spons ul {
	padding-left: 50px;
}

/* line 76, ../sass/partials/_header.scss */

.header-spons img {
	max-height: 95px;
	-webkit-transform: skew(32deg);
	-moz-transform: skew(32deg);
	-ms-transform: skew(32deg);
	-o-transform: skew(32deg);
	transform: skew(32deg);
}

/* line 116, ../sass/partials/_header.scss */

.logo-text .bold-text {
	font-size: 32px;
	margin-top: 35px;
}

/* line 134, ../sass/partials/_header.scss */

.logo-text .small-text {
	font-size: 25px;
}

/* line 188, ../sass/partials/_header.scss */

.top_logos li {
	padding: 6px 28px;
}

/* line 233, ../sass/partials/_header.scss */

#nav-container .top-logo img {
	max-width: 100%;
}

/* line 231, ../sass/partials/_header.scss */

#nav-container .top-logo {
	top: 25px;
}

/* line 275, ../sass/partials/_header.scss */

.cbp-af-header-shrink .sb-search {
	top: 0%;
	right: 13%;
}

/* line 390, ../sass/partials/_header.scss */

#nav-container.cbp-af-header-shrink .menu {
	margin-left: 55px;
	left: 27%;
	position: absolute;
	top: 0%;
	margin-top: 0;
}

/* line 422, ../sass/partials/_header.scss */

.header-text h1 {
	font-size: 55px;
}

/* line 467, ../sass/partials/_header.scss */

.leaderboard-top-container {
	margin-left: 220px;
	display: block;
}

/* line 505, ../sass/partials/_header.scss */

.cbp-af-header-shrink .sticky-logo {
	top: 4px;
	position: absolute;
	left: 20%;
}

/* line 534, ../sass/partials/_header.scss */

ul.header_right_logos {
	margin-left: 55px;
	padding-left: 58px;
}

/* line 657, ../sass/partials/_header.scss */

.social-media-icon {
	display: block;
}

/* line 227, ../sass/partials/_common-styles.scss */

.ad-banners .banner-text {
	font-size: 30px;
	line-height: 30px;
}

/* line 789, ../sass/partials/_common-styles.scss */

.headering-top-archive:after {
	width: 100%;
	height: 98px;
	right: 1px;
	-webkit-background-size: 1152px 1152px;
	-moz-background-size: 1152px;
	-o-background-size: 1152px;
	background-size: 1152px;
	background-position: center 61px;
}

/* line 59, ../sass/partials/_banner.scss */

.news-sidebar .news-content h4 {
	font-size: 18px;
	line-height: 24px;
}

/* line 132, ../sass/partials/_banner.scss */

.ad-banners .promo-title {
	padding: 12px;
}

/* line 159, ../sass/partials/_banner.scss */

.ad-banners .promo-title a {
	font-size: 26px;
}

/* line 230, ../sass/partials/_banner.scss */

.banners li:first-child h3 {
	font-size: 36px;
}

/* line 273, ../sass/partials/_banner.scss */

.facebook-social-md {
	display: none;
}

/* line 284, ../sass/partials/_banner.scss */

.facebook-social {
	display: block;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	height: 394px;
}

/* line 170, ../sass/partials/home-news.scss */

.elite_events_widget .widget-title {
	font-size: 35px;
}

/* line 245, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	left: 60px;
	width: 190px;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	font-size: 18px;
	height: 75px;
	padding: 10px;
}

/* line 135, ../sass/app.scss */

#logo {
	width: 437px;
	left: -40px;
	z-index: 0;
}

}

@media (min-width: 1730px) {

/* line 306, ../sass/partials/home-news.scss */

#new-archive-get-involved-panel .panel-content {
	background-position: center -62px !important;
}

}

@media (min-width: 2050px) {

/* line 301, ../sass/partials/home-news.scss */

#new-archive-get-involved-panel .panel-content {
	background-position: center -150px !important;
}

}

@media (max-width: 888px) {

/* line 741, ../sass/partials/_common-styles.scss */

.rtbs .rtbs_menu li a {
	background: #0f245d !important;
}

/* line 744, ../sass/partials/_common-styles.scss */

.rtbs .rtbs_menu li a {
	color: #fff !important;
}

/* line 747, ../sass/partials/_common-styles.scss */

.rtbs_full .rtbs_menu ul li a {
	font-size: 15px !important;
}

}

@media (max-width: 767px) {

/* line 21, ../sass/partials/_header.scss */

.header-spons {
	display: block;
}

/* line 31, ../sass/partials/_header.scss */

.header-spons ul {
	display: block;
	position: fixed;
	top: 0;
	left: 100px;
	z-index: 9999999;
}

/* line 59, ../sass/partials/_header.scss */

.header-spons li {
	background: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

/* line 76, ../sass/partials/_header.scss */

.header-spons img {
	max-height: 71px;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

/* line 101, ../sass/partials/_header.scss */

.top-logo {
	padding: 20px 0px;
}

/* line 177, ../sass/partials/_header.scss */

.top-club-logos {
	display: none;
}

/* line 208, ../sass/partials/_header.scss */

#nav-container {
	border-bottom: 1px solid #fff;
	float: none;
}

/* line 233, ../sass/partials/_header.scss */

#nav-container .top-logo img {
	max-width: 55%;
	padding: 10px;
	height: auto;
	display: none;
}

/* line 275, ../sass/partials/_header.scss */

.cbp-af-header-shrink .sb-search {
	top: 14%;
	right: 22%;
}

/* line 292, ../sass/partials/_header.scss */

.cbp-af-header-shrink .container {
	width: 100%;
	padding: 0;
}

/* line 307, ../sass/partials/_header.scss */

.search-box {
	display: block;
}

/* line 399, ../sass/partials/_header.scss */

.header-logo {
	border-right: none;
	margin-top: 0;
}

/* line 415, ../sass/partials/_header.scss */

.header-text {
	display: none;
}

/* line 422, ../sass/partials/_header.scss */

.header-text h1 {
	display: none;
}

/* line 467, ../sass/partials/_header.scss */

.leaderboard-top-container {
	display: none;
}

/* line 489, ../sass/partials/_header.scss */

.sticky-logo {
	display: block;
	top: 5px;
	position: absolute;
}

/* line 505, ../sass/partials/_header.scss */

.cbp-af-header-shrink .sticky-logo {
	top: 4px;
	position: absolute;
	left: 0%;
}

/* line 534, ../sass/partials/_header.scss */

ul.header_right_logos {
	display: none;
}

/* line 563, ../sass/partials/_header.scss */

.social-search {
	display: none; /* width: 252px; */
}

/* line 638, ../sass/partials/_header.scss */

.hockey-logo {
	display: none;
}

/* line 657, ../sass/partials/_header.scss */

.social-media-icon {
	display: none;
}

/* line 78, ../sass/partials/_common-styles.scss */

.home-more-news-box {
	width: 48%;
}

/* line 105, ../sass/partials/_common-styles.scss */

.home-more-news-box h2 {
	font-weight: 200;
	font-size: 16px;
}

/* line 167, ../sass/partials/_common-styles.scss */

h1 {
	font-size: 20px;
}

/* line 186, ../sass/partials/_common-styles.scss */

.panel-content {
	padding: 15px 0 0;
	min-height: 150px;
}

/* line 205, ../sass/partials/_common-styles.scss */

.ad-banners .col-md-4 {
	width: 33%;
	float: left;
	padding: 0;
}

/* line 227, ../sass/partials/_common-styles.scss */

.ad-banners .banner-text {
	font-size: 20px;
	line-height: 22px;
	top: 21%;
}

/* line 275, ../sass/partials/_common-styles.scss */

div#scroll {
	display: none;
}

/* line 413, ../sass/partials/_common-styles.scss */

.col-1 {
	display: inline-block;
	padding-bottom: 25px;
	width: 100%;
}

/* line 529, ../sass/partials/_common-styles.scss */

.staff-name {
	font-size: 12px;
	line-height: 12px;
}

/* line 563, ../sass/partials/_common-styles.scss */

.staff-outer {
	text-align: center;
	border-bottom: 1px solid #A0D092;
	margin-bottom: 15px;
}

/* line 568, ../sass/partials/_common-styles.scss */

.staff-outer:last-child {
	border: none;
}

/* line 576, ../sass/partials/_common-styles.scss */

.staff-pos {
	font-size: 10px;
	line-height: 10px;
}

/* line 586, ../sass/partials/_common-styles.scss */

.staff-emailtitle {
	font-size: 10px;
	line-height: 10px;
}

/* line 596, ../sass/partials/_common-styles.scss */

.staff-email {
	font-size: 10px;
	line-height: 10px;
}

/* line 605, ../sass/partials/_common-styles.scss */

.staff .col-xs-6 {
	padding: 0 5px;
}

/* line 765, ../sass/partials/_common-styles.scss */

#category-select select {
	display: none;
}

/* line 898, ../sass/partials/_common-styles.scss */

#tribe-bar-views .tribe-bar-views-list {
	z-index: 2;
}

/* line 909, ../sass/partials/_common-styles.scss */

.tribe-events-list .type-tribe_events {
	width: 100%;
}

/* line 923, ../sass/partials/_common-styles.scss */

.tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-] {
	background-color: #e4002a;
}

/* line 937, ../sass/partials/_common-styles.scss */

#tribe_events_filter_control #tribe_events_filters_reset {
	background: #0f235d !important;
}

/* line 942, ../sass/partials/_common-styles.scss */

.tribe-events-list .type-tribe_events h2 {
	text-align: center;
}

/* line 947, ../sass/partials/_common-styles.scss */

.tribe-is-responsive.tribe-mobile .tribe-events-page-title {
	margin-top: 1.5em;
}

/* line 952, ../sass/partials/_common-styles.scss */

#tribe-mobile-container .type-tribe_events {
	color: #000;
}

/* line 957, ../sass/partials/_common-styles.scss */

.tribe-events-list .tribe-events-event-image {
	float: none;
	margin: 0 auto;
	text-align: center;
	display: block;
}

/* line 965, ../sass/partials/_common-styles.scss */

.tribe-events-calendar td.mobile-active {
	background-color: #0e265d;
}

/* line 975, ../sass/partials/_common-styles.scss */

.tribe-events-calendar td.tribe-events-present.mobile-active {
	background-color: #e4002a;
}

/* line 986, ../sass/partials/_common-styles.scss */

.tribe-events-loop .tribe-events-event-meta {
	background: none;
	border: none;
	text-align: center;
}

/* line 998, ../sass/partials/_common-styles.scss */

.tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-] {
	background-color: #e4002a;
}

/* line 1003, ../sass/partials/_common-styles.scss */

.tribe-events-sub-nav li a {
	background-color: #e4002a;
}

/* line 1020, ../sass/partials/_common-styles.scss */

#tribe_events_filter_control #tribe_events_filters_toggle {
	background: #0f255d !important;
	color: #fff;
	border: none;
}

/* line 1134, ../sass/partials/_common-styles.scss */

.apsc-icons-wrapper.clearfix.apsc-theme-1 {
	margin-top: 15px;
}

/* line 1155, ../sass/partials/_common-styles.scss */

.headering-top {
	padding-top: 20px;
}

/* line 6, ../sass/partials/_slick.scss */

.slick-slider-container {
	background: transparent;
}

/* line 44, ../sass/partials/_slider.scss */

header {
	height: 30vh;
}

/* line 1, ../sass/partials/_banner.scss */

.home-sidebar {
	display: none;
}

/* line 132, ../sass/partials/_banner.scss */

.ad-banners .promo-title {
	padding: 6px;
}

/* line 159, ../sass/partials/_banner.scss */

.ad-banners .promo-title a {
	font-size: 17px;
}

/* line 185, ../sass/partials/_banner.scss */

.ad-banners .promo-image {
	text-align: center;
}

/* line 214, ../sass/partials/_banner.scss */

.banners li {
	width: 100%;
}

/* line 225, ../sass/partials/_banner.scss */

.banners li:first-child img {
	height: 100px;
}

/* line 230, ../sass/partials/_banner.scss */

.banners li:first-child h3 {
	font-size: 24px;
	position: absolute;
	left: 20%;
	right: 20%;
	text-align: center;
}

/* line 2, ../sass/partials/_footer.scss */

.footer {
	padding: 15px 0;
}

/* line 16, ../sass/partials/home-news.scss */

.front-more-news li {
	padding: 0;
}

/* line 48, ../sass/partials/home-news.scss */

.more-news {
	text-align: center;
}

/* line 53, ../sass/partials/home-news.scss */

#latest-news-panel .panel-content {
	background: #fff !important;
	padding-bottom: 0;
}

/* line 62, ../sass/partials/home-news.scss */

.more-news-events {
	padding: 0;
}

/* line 93, ../sass/partials/home-news.scss */

.major-sponsor {
	padding-top: 12px;
	background: #0d2241;
	float: left;
	padding: 30px 15px;
	margin-top: 30px;
	width: 100%;
}

/* line 106, ../sass/partials/home-news.scss */

.sponsor-text {
	padding-bottom: 10px;
}

/* line 139, ../sass/partials/home-news.scss */

.more-news-section h3 a {
	color: #0d223f;
	padding-left: 10px;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	height: inherit;
	margin-left: -15px;
	margin-right: -15px;
}

/* line 238, ../sass/partials/home-news.scss */

.event_widget_row .event_date,
.event_list_row .event_date {
	left: 15px;
}

/* line 245, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	left: 70px;
}

/* line 312, ../sass/partials/home-news.scss */

.news-box h4 {
	font-size: 15px;
}

/* line 12, ../sass/partials/_single.scss */

.post-content .featured-image {
	margin-top: 22px;
}

/* line 27, ../sass/partials/_single.scss */

.widget-wrapper img {
	border: none;
}

/* line 34, ../sass/partials/_single.scss */

.buttons-box-inner li a {
	text-align: left;
	font-size: 21px;
	margin-left: 13px;
}

/* line 131, ../sass/partials/_single.scss */

.player-img-container,
.cover-img-container {
	float: none;
	margin-right: 0;
	margin-bottom: 20px;
}

/* line 10, ../sass/partials/_solution.scss */

.solution .busness-sol {
	padding-bottom: 20px;
}

/* line 4, ../sass/partials/_about.scss */

.about .right {
	padding-top: 15px;
}

/* line 20, ../sass/partials/_about.scss */

.about .left {
	border-bottom: 1px solid #fff;
	text-align: center;
	padding-bottom: 20px;
}

/* line 46, ../sass/partials/_about.scss */

.about .left h1 {
	text-align: center;
	font-size: 25px;
	line-height: 30px;
}

/* line 135, ../sass/app.scss */

#logo {
	width: 217px;
	left: -5px;
	-webkit-background-size: 220px 60px;
	-moz-background-size: 220px 60px;
	-o-background-size: 220px 60px;
	background-size: 220px 60px;
	z-index: 1000;
}

/* line 160, ../sass/app.scss */

#logo a {
	height: 60px;
}

/* line 201, ../sass/app.scss */

.fsp-adv-social-media {
	display: none;
}

}

@media (max-width: 650px) {

/* line 378, ../sass/partials/_header.scss */

.league-menu {
	display: none;
}

/* line 205, ../sass/partials/_common-styles.scss */

.ad-banners .col-md-4 {
	width: 100%;
	float: left;
	text-align: center;
	padding: 0;
}

/* line 159, ../sass/partials/_banner.scss */

.ad-banners .promo-title a {
	font-size: 14px;
}

/* line 170, ../sass/app.scss */

#main-content {
	margin: 0;
}

/* line 180, ../sass/app.scss */

#content-wrap {
	margin: 0;
}

}

@media (max-width: 480px) {

/* line 356, ../sass/partials/_common-styles.scss */

.gallery-title {
	padding: 3px 0;
	position: relative;
	width: 100%;
}

/* line 605, ../sass/partials/_common-styles.scss */

.staff .col-xs-6 {
	padding-top: 15px;
}

/* line 625, ../sass/partials/_common-styles.scss */

.contact .col-xs-6 {
	width: 100%;
}

/* line 671, ../sass/partials/_common-styles.scss */

.contactus {
	width: 100%;
}

/* line 1014, ../sass/partials/_common-styles.scss */

.tribe-events-loop .tribe-events-event-meta {
	background: none;
	border: none;
}

/* line 44, ../sass/partials/_slider.scss */

header {
	height: 20vh;
}

/* line 98, ../sass/partials/_banner.scss */

.ad-banners .banner-images {
	padding: 0;
}

/* line 294, ../sass/partials/_banner.scss */

#banner-panel .panel-content {
	border-top: none;
}

}

